
table,th,td
{
border:1px solid black;

border-collapse:collapse;
}
/*

table 
{
width:100%;
}
th
{
height:50px;
}
td
{
text-align:right;
}*/


table 
{
	/*top bottom right left*/
	margin: 100px 5px 2px 100px;
	
}

td
{
	padding:15px;
}