[submodule "BLG 492E - Graduation Project/RISC-processor"]
	path = BLG 492E - Graduation Project/RISC-processor
	url = https://github.com/tugrulyatagan/RISC-processor
	branch = master
[submodule "BLG 500 - Internship/Yenihayat/stream"]
	path = BLG 500 - Internship/Yenihayat/stream
	url = https://github.com/tugrulyatagan/stream
	branch = master
[submodule "BLG 500 - Internship/Yenihayat/harita"]
	path = BLG 500 - Internship/Yenihayat/harita
	url = https://github.com/tugrulyatagan/harita
	branch = master
[submodule "BLG YLT - Thesis/thesis"]
	path = BLG YLT - Thesis/thesis
	url = https://github.com/tugrulyatagan/thesis
	branch = master
[submodule "BLG YLT - Thesis/paper"]
	path = BLG YLT - Thesis/paper
	url = https://github.com/tugrulyatagan/paper
	branch = master
