<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <siteMap defaultProvider="SmartSiteMapProvider" enabled="true">
      <providers>
        <add name="SmartSiteMapProvider" type="CodeLibrary.Sitemap.SmartSiteMapProvider" siteMapFile="Web.sitemap"/>
      </providers>
    </siteMap>
    <pages>
      <controls>
        <add tagPrefix="UserControlLibrary" src="~/UserControlLibrary/ValidationAlert.ascx" tagName="ValidationAlert"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
  </system.web>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GCOBAN-LAPTOP;initial catalog=QuestionsAnswers;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>